<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.object.haru">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".kakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HARU_Mobiile.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Chat.ChatActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".ModifyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" /> <!-- Add FCM service -->
        <service
            android:name=".Fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ApplyWriteActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="45f224d0e6f48c29c62dd5e9b685de3b" />

        <activity
            android:name=".Activity.WritedActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao45f224d0e6f48c29c62dd5e9b685de3b://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao45f224d0e6f48c29c62dd5e9b685de3b" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".Search_register"
            android:exported="true" />
        <activity
            android:name=".Activity.SearchResultActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.ReceiveReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.WriteReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ZzimListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ApplyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ProfileEditActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ApplicantActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ApplyDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.NoticeActivity"
            android:exported="true" />

        <activity android:name=".Activity.DetailActivity"
            android:exported="true" />

        <activity  android:name="com.object.haru.alarm.AlarmActivity"
            android:exported="true" >

        </activity>

        <activity android:name=".Activity.SplashScreenActivity"
            android:exported="true" >

        </activity>

    </application>

</manifest>